<div class="container">
    <div class="row">         
          <div class="col-md-12">
          <h2>All Clients</h2>
          <div class="table-responsive">
  
                  
                <table id="mytable" class="table table-bordred table-striped">
                     
                     <thead>
                     <th>Name</th>
                       <th>Address</th>
                       <th>Email</th>
                       <th>Phone</th>
                        <th>Edit</th>                        
                         <th>Delete</th>
                     </thead>
      <tbody>
      <tr *ngFor="let c of clients | async| paginate: {
        id: 'allClients',
        itemsPerPage: pageSize,
        currentPage: currentPage
      }">
      <td>{{c.name}}</td>
      <td>{{c.address}}</td>
      <td>{{c.email}}</td>
      <td>{{c.phone}}</td>
      <td><p title="Edit"><button class="btn btn-warning btn-xs" ><i class="fa fa-pencil fa-lg"></i></button></p></td>
      <td><p title="Delete"><button class="btn btn-danger btn-xs" (click)="deleteItem(c._id)"><i class="fa fa-trash-o fa-lg"></i></button></p></td>
      </tr>
      </tbody>
          
  </table>
  
 
                  
              </div>
              
          </div>
    </div>
    <pagination-controls
            id="allClients"
            (pageChange)="changePage($event)"
            maxSize="9"
            directionLinks="true"
            autoHide="true"
            responsive="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page">
      </pagination-controls>
  </div>