<div *ngIf="order | async as o" class="container">      
          <div class="col-md-12">
          <h2>Detils for: <span class="font-italic text-info">{{o.type}} {{o.brand}}</span></h2>
          <hr>
<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="about-item text-left">
            <h3>Device Info</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Type:  </strong><span class="text-right" >{{o.type}}</span></li>
                <li class="list-group-item"><strong>Brand: </strong><span class="text-right" >{{o.brand}}</span></li>
                <li class="list-group-item"><strong>Model: </strong><span class="text-right" >{{o.deviceModel}}</span></li>
                <li class="list-group-item"><strong>Warranty: </strong><span class="text-right" >{{o.warranty}}</span></li>
                <li class="list-group-item"><strong>S/N: </strong><span class="text-right" >{{o.serial}}</span></li>
                <li class="list-group-item"><strong>Equipment: </strong><span class="text-right" >{{o.equipment}}</span></li>
                <li class="list-group-item"><strong>Appearance: </strong><span class="text-right" >{{o.appearance}}</span></li>
              </ul>
        </div>
    </div>
            
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="about-item text-left">
            <h3>Order Info</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Problem:  </strong><span class="text-right" >{{o.description}}</span></li>
                <li class="list-group-item"><strong>Requested services: </strong><span class="text-right" >{{o.reqServices}}</span></li>
                <li class="list-group-item"><strong>Notes: </strong><span class="text-right" >{{o.notes}}</span></li>
              </ul>
        </div>
    </div>
           
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="about-item text-left">
            <h3>Others</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Priority:  </strong><span class="text-right" >{{o.priority}}</span></li>
                <li class="list-group-item"><strong>Assigned to: </strong><span class="text-right" >{{o.assignedTo}}</span></li>
              </ul>
        </div>
    </div>
    
    <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="about-item text-left">
            <h3>Client Info</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Name:  </strong>
                  <a routerLink="../../../clients/details/{{client._id}}"><span class="text-right" >{{client.name}}</span></a> </li>
                <li class="list-group-item"><strong>Phone: </strong><span class="text-right" >{{client.phone}}</span></li>
              </ul>
        </div>
    </div>
</div>
</div>
</div>