<div *ngIf="client | async as c" class="container">      
    <div class="col-md-12">
    <h2>Details for: <span class="font-italic text-info mr-5">{{c.name}}</span>
        <a class="ml-2" routerLink="../../edit/{{c._id}}" title="Edit" class="mr-1"><button class="btn btn-warning btn-xs" ><i class="fa fa-pencil fa-lg"></i></button></a></h2>
    <hr>
<div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="about-item text-left">
            <h3>Client Info</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Name:  </strong><span class="text-right" >{{c.name}}</span></li>
                <li class="list-group-item"><strong>Phone: </strong><span class="text-right" >{{c.phone}}</span></li>
                <li class="list-group-item"><strong>Address: </strong><span class="text-right" >{{c.address}}</span></li>
                <li class="list-group-item"><strong>Email: </strong><span class="text-right" >{{c.email}}</span></li>
              </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="about-item text-left">
              <h3>Orders</h3>
              <ul *ngIf='ordersNames !== []' class="list-group">
                  <li *ngFor='let o of ordersNames; let i = index' class="list-group-item"><strong>Order {{i+1}}:</strong><span class="text-right" >{{o}}</span></li>
                </ul>
                <ul *ngIf='ordersNames.length === 0' class="list-group">
                    <li class="list-group-item"><strong>Order: </strong><span class="text-right font-italic" >No Orders yet...</span></li>
                </ul>
          </div>
        </div>
</div>
</div>
</div>